*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(https://images.pexels.com/photos/7034525/pexels-photo-7034525.jpeg);

    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
    scroll-behavior: smooth;
    /* position: ; */
}
/* Loader */
.wrapper{
    position: fixed;
    inset: 0;
    z-index: 9999;
    background-color: #fff;
    display: grid;
    place-items: center;
    transition: opacity 0.25s, visiblity 1s;
}
.fade{
    opacity: 0;
    visibility: hidden;
}

nav{
    position: sticky;
    z-index: 3;
    top: 0;
}
.nav_list,.nav_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
}
.nav_list{
    transition-property: top;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

}
.nav_list li,.nav_profile li{
    display: inline-block;
    margin: 0 0.75rem;
    font-size: 1.2rem;
    /* font-weight: bold; */
}
.nav-item{
    position: relative;
}
.nav-item::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0%;
    /* left: 25%;
    right: 20%; */
    margin: 4px 0px 0px 0px;
    color: black;
    background-color: rgb(220, 176, 0);
    transition: all 0.3s;
}
.nav-item:hover:before{
    width: 100%;
}

a{
    text-decoration: none;
    color: rgb(11, 130, 221);
}
a:hover{
    cursor: pointer;
}

.menu_btn{
    border: 0;
    margin: .25rem;
}

/* nav dropdown */
.nav-dropdown,.profile-dropdown{
    position: relative;
}
.nav-dropdown a{
    color: black;
}
.category-content,.profile-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    top: 25px;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 180px;
    height:180px;
    padding: 1.2rem;
    z-index: 3;
    font-size: 0.95rem;
    text-align: left;
    border-radius: 10px;
}
.profile-menu{
    height: 150px   ;
}
.cart{
    padding: 0.3rem 0.8rem;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgb(255, 255, 255)
}
.cart:hover{
    border: 1px solid rgb(11, 130, 221);
}

/* Anchor Login Page */
.anchor_login{
    background-color: rgb(11, 130, 221);
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    transition: all 0.3s;
}
.anchor_login:hover{
    background-color: white;
    color: rgb(11, 130, 221);
    border: 1px solid rgb(11, 130, 221);
}
@media screen and (max-width:768px) {
    .nav_profile{
        justify-content: end;
    }
    .nav_profile li,.nav_profile button{
        margin:0 0.8rem ;
    }
}

/* Nav Menu */
@media  screen and (max-width:992px) {

    
    .nav_list{
        position: absolute;
        display: flex !important;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
        width: 100%;
        height: 250px;
        left: 0px;
        top: -300px;
        justify-content: flex-start;
        padding: 2rem 0rem;
        z-index: 3;
        transition: top 0.25s;
    }
    .nav_list .nav-item{
        margin: .25rem 0;
    }
    .menu-show{
        top: 60px;
    }
    .profile-menu{
        left: -70px;
    }
    .logo_name{
        font-size: 1.4rem !important;
    }
    .nav_list li,.nav_profile li{
        font-size: 1.2rem ;
    }
}
@media screen and (max-width:576px) {
    .logo_name{
        font-size: 1.3rem !important;
    }
    .nav_list li,.nav_profile li{
        font-size: 1.05rem ;
    }
}

/* Hero sectiona */

/* Cakes Variety section */
/* .cake-variety{
    margin: 2rem 0;
    background-color: brown;
    background-blend-mode:color-burn;
} */


.head-variety{
    text-align: center;
    color: white;
    margin: 1rem 0px;
    padding: .5rem;
    background-color: rgb(221, 21, 135);
}

.cake-item{
    transform: scale(0.9);
    border: 2px solid rgb(11, 130, 221);
    border-radius: 10px;
    padding: 1rem;

    background-color: rgba(255, 255, 255, 0.686);
    transition: 0.25s;
}
.cake-item a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    /* font-weight: bold; */
}
.cake-item img{
    border-radius: 5px;
}
.cake-item:hover{
    transform: scale(.83);
}


@media screen and (max-width:576px) {
    .cake-item a{
        font-size: 1.1rem;
        /* font-weight: bold; */
    }
}